# Variáveis globais opcionais
NODE_ENV=development
PORT=4010
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/app_financas?schema=public"
JWT_SECRET="trocar-por-um-segredo-forte"
JWT_EXPIRES_IN="7d"
