NODE_ENV=development
PORT=4010
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/app_financas?schema=public"
JWT_SECRET="trocar-em-producao"
JWT_EXPIRES_IN="7d"
AMQP_URL="amqp://localhost"
REPORTS_QUEUE_NAME="pdf_reports_queue"
GOOGLE_CLIENT_ID="84485673553-br2mf821lbd9qfpqmjqlkm3c54g4uijj.apps.googleusercontent.com"
AUTH_COOKIE_NAME="app_financas_session"
CSRF_COOKIE_NAME="app_financas_csrf"
COOKIE_SAMESITE="lax"
COOKIE_SECURE="false"
COOKIE_DOMAIN=""
TRUST_PROXY="false"
