NODE_ENV=development
PORT=4010
DATABASE_URL="file:../prisma/dev.db"
JWT_SECRET="trocar-em-producao"
JWT_EXPIRES_IN="7d"
AMQP_URL="amqp://localhost"
REPORTS_QUEUE_NAME="pdf_reports_queue"
GOOGLE_CLIENT_ID="84485673553-br2mf821lbd9qfpqmjqlkm3c54g4uijj.apps.googleusercontent.com"
